body {
    font-family: "Oswald", Times, serif;
  }
h5 {
    font-weight: 100;
}
p {
    font-weight: 100;
}
select {
    margin-bottom: 20px;
}
.ratio > img {
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
  }
.container {
    max-width: 844px;
}
#top_film_button {
    float: right;
    margin-right: 20px;
}
#free_choice_container {
    min-height:300px
}
.top-image {
    margin-top: 20px;
}
.main-headings {
    margin-top: 20px;
    margin-bottom: 20px;
}
.overlay-strip {
    margin: 0 auto;
    margin-top:20%;
    padding: 30px;
    background-color: rgba(70, 70, 70, 0.8);
    border: 0;
    width:100%
}